    /*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 12, 2023, 3:43:51 PM
    Author     : Habib
*/

.root{
    
/*    -fx-background-image:url("../assets/bg.jpg");*/
    -fx-background-color:#DCE4DE;
}

#field{
    -fx-background-color:transparent;
    -fx-border-color:ffffff;
    -fx-border-radius:9999em;
    -fx-border-width:1.5px;
    -fx-font-size:1em;
    -fx-color:ffffff;
}



.sideBtn{
    -fx-background-color:transparent;
/*   -fx-background-color:;*/
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #FFFFFF;
   -fx-font-weight:bold;
   -fx-font-size:15px;
}
/*.sideBtn:hover{
    -fx-border-color:#C4E2D5;
    -fx-border-width:0px 0px 0px 4px;
}*/
#menuVbox
{
    -fx-background-color:linear-gradient(#537895,#09203F);
    /*-fx-background-color:#1B2537;*/
    
}
.button{
/*    -fx-background-color:transparent;
    -fx-background-color:;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #FFFFFF;
   -fx-font-weight:bold;
   -fx-font-size:15px;*/
}
.button:hover{
/*      -fx-border-color:#C4E2D5;
        -fx-border-width:0px 0px 0px 4px;*/
}
.button:pressed{
/*    -fx-background-color:#5357A8;*/
}
.button:active{
/*    -fx-background-color:#5357A8;*/
}
/*//SideBar Transparent button*/

.scrollPane{
    -fx-background-color:#DCE4DE;
    
}
#scrollPaneAdminPage{
    -fx-background-color:#D1E4DA;
}





.tempLabel{
    -fx-text-alignment:right;
}

/*Tab Pane Style*/
#tabPane {
    -fx-tab-min-height: 5em;
    /* 24 */
    -fx-tab-max-height: 5em;
    /* 24 */

    -fx-tab-min-width: 0.5em;
    -fx-tab-max-width: 0.5em;
    -fx-padding: 0 -1 -1 0
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #EBEAF0;

}

.tab{

    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
}

.tab:selected
{
    -fx-background-color: #FAFCFB;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: #3FE387;



}

.tab:focused
{
  -fx-focus-color: transparent;


}

.tab-pane *.tab-header-background
{
    -fx-background-color: transparent;
}

.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;


}

.tab:selected .focus-indicator
{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}



/*Explore Bangladesh*/
#exploreBtn{
    -fx-background-color:#102948;
    -fx-text-fill: #FFFFFF;
    
        
}
#exploreBtn:hover{
    -fx-cursor:hand ;
    -fx-background-color:#EF6B48;
    -fx-text-fill: #000000;
}



/*Table View Design*/
.table-view {
    -fx-background-color:#102948;
    -fx-background-radius:10 10 0 0;
    
    }
.table-view .column-header-background{
        -fx-background-color: #102948;
        -fx-background-radius:10;
        -fx-background-insets: 0 0 10 0;
   
    }
.table-view .column-header, .table-view .filler{
        -fx-size:35px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
    }
    
.table-view .column-header .label {
        -fx-text-fill: white ;
}






